* {
    margin: 0;
    padding: 0;
}

#menu {
    background: #3184CC;
    background: linear-gradient(to bottom, #399BCC, #61C0FF);
    color: #FFF;
    height: 46px;
    padding-left: 18px;

}

#menu ul, #menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}

#menu ul {
    width: 100%;
}

#menu li {
    float: left;
    display: inline;
    position: relative;
}

#menu .login {
    left: 69%;
}

#menu a {
    display: block;
    line-height: 46px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
}

#menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}

#menu li a:hover {
    color: #0099CC;
    background: #EBEBEB;
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 46px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

#menu label {
    display: none;
    line-height: 46px;
    text-align: center;
    position: absolute;
    left: 35px
}

#menu label:before {
    font-size: 1.6em;
    content: "\2261";
    margin-left: 20px;
}

#menu ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #444444;
    position: absolute;
    z-index: 99;
    display: none;
}

#menu ul.sub-menus li {
    display: block;
    width: 100%;
}

#menu ul.sub-menus a {
    color: #FFFFFF;
    font-size: 16px;
}

#menu li:hover ul.sub-menus {
    display: block
}

#menu ul.sub-menus a:hover {
    background: #F2F2F2;
    color: #444444;
}

@media screen and (max-width: 800px) {
    #menu {
        position: relative
    }

    #menu ul {
        background: #111;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none
    }

    #menu ul.sub-menus {
        width: 100%;
        position: static;
    }

    #menu ul.sub-menus a {
        padding-left: 30px;
    }

    #menu li {
        display: block;
        float: none;
        width: auto;
    }

    #menu input, #menu label {
        position: absolute;
        top: 0;
        left: 0;
        display: block
    }

    #menu input {
        z-index: 4
    }

    #menu input:checked + label {
        color: white
    }

    #menu input:checked + label:before {
        content: "\00d7"
    }

    #menu input:checked ~ ul {
        display: block
    }
}

h1 {
    float: left;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    line-height: 150px;

}

.logo {
    position: absolute;

    text-align: center;
    left: 40%;

}

img.logo {
    width: 550px;
    height: 300px;
    float: left;
}

.Information {
    position: absolute;
    width: 550px;
    height: 350px;
    left: 32%;
    top: 200px;
    border: 3px solid black;
    border-radius: 20px;

}

.Information form {
    position: relative;
    top: 5%;
    height: 90%;
    width: 100%;
    font-size: 10px;
    color: grey;

}

.Information input {
    position: relative;
    font-style: italic;

    padding: 2px;
    margin-top: 20px;
    margin-left: 175px;
    margin-right: 175px;
    width: 200px;
    height: 20px;
    outline: none; /*delete default border*/
    font-size: 12px;
    color: rgb(112, 112, 112); /*text color*/

    border: rgb(218, 218, 218) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(212, 212, 212);
}

.Information label {
    position: relative;
    top: 10px;
    font-size: 15px;
    left: 80px;
    width: 550px;
    display: inline-block;


}

.Information button {
    position: absolute;
    left: 30%;
    top: 88%;
    margin: 2%;
    width: 200px;
    height: 20px;
    outline: none;
    font-size: 16px;
    color: rgb(112, 112, 112);

    border: rgb(218, 218, 218) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(212, 212, 212);
    font-family: arial;
    color: #F0F0F0 !important;
    font-size: 16px;
    text-shadow: 1px 1px 0px #1F1F1F;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 8px 69px 21px 73px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    background: #63B8EE;
    background: linear-gradient(to top, #63B8EE, #468CCF);


}

.Information button:hover {
    color: #000000 !important;
    background: #468CCF;
}