* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#menu {
    background: #3184CC;
    background: linear-gradient(to bottom, #399BCC, #61C0FF);
    color: #FFF;
    height: 46px;
    padding-left: 18px;

}

#menu ul, #menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}

#menu ul {
    width: 100%;
}

#menu li {
    float: left;
    display: inline;
    position: relative;
}

#menu .login {
    left: 69%;
}

#menu a {
    display: block;
    line-height: 46px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
}

#menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}

#menu li a:hover {
    color: #0099CC;
    background: #EBEBEB;
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 46px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

#menu label {
    display: none;
    line-height: 46px;
    text-align: center;
    position: absolute;
    left: 35px
}

#menu label:before {
    font-size: 1.6em;
    content: "\2261";
    margin-left: 20px;
}

#menu ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #444444;
    position: absolute;
    z-index: 99;
    display: none;
}

#menu ul.sub-menus li {
    display: block;
    width: 100%;
}

#menu ul.sub-menus a {
    color: #FFFFFF;
    font-size: 16px;
}

#menu li:hover ul.sub-menus {
    display: block
}

#menu ul.sub-menus a:hover {
    background: #F2F2F2;
    color: #444444;
}

@media screen and (max-width: 800px) {
    #menu {
        position: relative
    }

    #menu ul {
        background: #111;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none
    }

    #menu ul.sub-menus {
        width: 100%;
        position: static;
    }

    #menu ul.sub-menus a {
        padding-left: 30px;
    }

    #menu li {
        display: block;
        float: none;
        width: auto;
    }

    #menu input, #menu label {
        position: absolute;
        top: 0;
        left: 0;
        display: block
    }

    #menu input {
        z-index: 4
    }

    #menu input:checked + label {
        color: white
    }

    #menu input:checked + label:before {
        content: "\00d7"
    }

    #menu input:checked ~ ul {
        display: block
    }
}

.header-logo {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    /*align-items: center;*/
    opacity: 80%;
    top: 10px;
}

.auth-form-header {
    position: relative;
    text-align: center;
    width: 380px;
    height: 280px;
    margin: auto;
    top: 200px;
    font-size: 1.2ch;
}

.auth-form-body {
    padding: 16px;
    position: relative;
    left: 38%;
    top: 40%;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid hsla(210, 18%, 87%, 1);
    font-size: 16px;
    background-color: #f6f8fa;

}

.auth-form-body input {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    margin-top: 5px;
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
}

.username {
    width: 300px;
    height: 30px;
    border-radius: 0.5ch;
    border: 0.5px solid black;
}

.phonenum {
    width: 300px;
    height: 30px;
    border-radius: 0.5ch;
    border: 0.5px solid black;
}

.address {
    width: 300px;
    height: 30px;
    border-radius: 0.5ch;
    border: 0.5px solid black;
}

.hub {
    width: 300px;
    height: 30px;
    border-radius: 0.5ch;
    border: 0.5px solid black;
}

.password {
    width: 300px;
    height: 30px;
    border-radius: 0.5ch;
    border: 0.5px solid black;
}


.submit-btn {
    color: white;
    margin-top: 15px;
    align-items: flex-start;
    width: 300px;
    height: 30px;
    background-color: rgb(53, 167, 78);
    border-radius: 5px;
    border: 0.3ch solid rgb(50, 157, 75);

}

.register {
    position: absolute;
    top: 88%;
    left: 42%;
}